.board{
    margin-left: 100px;
    width: 560px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    grid-auto-flow: row;
    grid-gap: 0;
    border: 2px solid black;
  }